{% extends "nav_pro.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center">Perfil del Profesor</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nombre:</strong> {{ estudiante.nombre }}</li>
                <li class="list-group-item"><strong>Correo:</strong> {{ estudiante.correo }}</li>
                <li class="list-group-item"><strong>...:</strong> {{ estudiante.carrera }}</li>
                <!-- Añade más información que necesites mostrar -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}
