{% extends "nav_pro.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center">Perfil del Profesor</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nombre:</strong> {{ profesor.first_name }} {{ profesor.last_name }}</li>
                <li class="list-group-item"><strong>Correo:</strong> {{ profesor.email }}</li>
                <li class="list-group-item"><strong>Cantidad de Cursos:</strong> {{ cantidad_cursos }}</li>
                <!-- Añade más información que necesites mostrar -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}
