{% extends "nav.html" %}
{% block titulo %} Lista de Roles {% endblock %}
{% block contenido %} 
<div class="card">
    <div class="card-header">
       <a name="" id="" class="btn btn-primary" href="{% url 'create_role' %}" role="button">Agregar nuevo rol</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Roles</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre del Rol</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ro in roles %}
                    <tr>
                        <td scope="row">{{ ro.id }}</td>
                        <td>{{ ro.nomRol }}</td>
                        <td> 
                            <a class="btn btn-info" href="{% url 'update_role' ro.id %}" role="button">Actualizar</a>
                            |  
                            <a class="btn btn-danger" href="{% url 'delete_role' ro.id %}" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
        <!-- Aquí puedes agregar cualquier contenido adicional del pie de la tarjeta -->
    </div>
</div>
{% endblock %}
