<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Restablecimiento de contraseña enviado</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="center">
      <h1> Restablecer enviado</h1>
    
        <center>
            <div class="signup_link" style="padding: 10px;">Se ha enviado un enlace para restablecer la contraseña a su correo electrónico. Tenga en cuenta que <b>caduca en 10 minutos.</b>!</div>
        </center>
      
    </div>

  </body>
</html>