<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title> Restablecer contraseña</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="center">
      <h1> Restablecer contraseña</h1>
      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
        
      <form method="POST">
    
        {% csrf_token %}
    
        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Contraseña</label>
        </div>    
    
        <div class="txt_field">
            <input type="password" required name="confirm_password">
            <span></span>
            <label>Confirmar contraseña</label>
        </div>    
    
        <input type="submit" value="Register">
        <div class="signup_link">        
          ¿Recuerdas tu contraseña? <a href="{% url 'login' %}">Acceso</a>
        </div>
      </form>
    </div>

  </body>
</html>