
{% extends "nav.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="center">
      <h1>Registrar {{ persona }}</h1>

      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
        
      <form method="POST">
        {% csrf_token %}

        <div class="txt_field">
          <input type="text" required name="first_name">
          <span></span>
          <label>Primer nombre</label>
        </div>

        <div class="txt_field">
          <input type="text" required name="second_name">
          <span></span>
          <label>Segundo nombre</label>
        </div>

        <div class="txt_field">
          <input type="text" required name="last_name">
          <span></span>
          <label>Apellidos</label>
        </div>

        <div class="txt_field">
          <input type="text" required name="username">
          <span></span>
          <label>Nombre de usuario</label>
        </div>

        <div class="txt_field">
          <input type="email" required name="email">
          <span></span>
          <label>Correo</label>
        </div>

        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Contraseña</label>
        </div>  

        <!-- Desplegable para seleccionar el grupo -->
        <div class="form-group group">
          <label for="group">Grupo</label>
          <select class="form-control custom-select" id="group" name="group" required>
              {% for group in groups %}
              <option value="{{ group.id }}">{{ group.name }}</option>
              {% endfor %}
          </select>
        </div>

        <!-- Desplegable para seleccionar la carrera -->
        <div class="form-group career">
          <label for="career">Carrera</label>
          <select class="form-control custom-select" id="career" name="career" required>
              {% for career in careers %}
              <option value="{{ career.id }}">{{ career.nameCareer }}</option>
              {% endfor %}
          </select>
        </div>

        <!-- Desplegable para seleccionar el curso -->
        <div class="form-group course">
          <label for="course">Curso</label>
          <select class="form-control custom-select" id="course" name="course" required>
              {% for course in courses %}
              <option value="{{ course.id }}">{{ course.nomCourse }}</option>
              {% endfor %}
          </select>
        </div>
        
        <!-- Campo de texto para el semestre -->
        <div class="txt_field">
          <input type="number" required name="semester" min="1" max="10">
          <span></span>
          <label>Semestre</label>
        </div>


        <input type="submit" value="Registrar">
      </form>
    </div>
  </body>
</html>
{% endblock %}